.titulo2formulario{
    text-align: center;
    color: darkblue;
    background-color: darkgrey;
    margin: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tablaformulario{

    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
   
    
}